<% unless @month_product.errors.present? %>
  $('.month_products').append('<%= j render partial: 'spree/admin/calculator/months/month_products', locals: {p: @new_month_product} %>');
  $('.month_products_select').html('<%= j render partial: 'spree/admin/calculator/months/month_products_select', locals: { not_month_products: @not_month_products } %>');
  $("#month_products_ids").select2({ minimumResultsForSearch: Infinity });
  $('.add-month-product-link').click(window.addMonthProduct);
  $('.delete-month-product-link').unbind('click').click(window.deleteMonthProduct);
<% else %>
  $('.js-flash-wrapper')
    .html('<div class="flash error">Error occurred! Try to select item again.</div>')
    .fadeIn('fast')
  setTimeout(function(){ $('.js-flash-wrapper').fadeOut('slow') }, 3000)
<% end %>
