<div class="vintage_text">
  <div class="wrapper_big text_center">
    <%= t 'spree.aged_vintages_warning' %>
  </div>
</div>

<%= react_component('ProductCatalogueApp', props: @catalogue, prerender: false) %>
