<% if @not_month_products.present? %>
  <h4>Available for relation:</h4>
  <div id="month_ids_box" class="field alpha five columns">
    <% prods = not_month_products %>
    <%= select_tag 'month_products_ids', 
                    options_from_collection_for_select(
                      prods, 
                      'id',
                      'name',
                      prods.first
                    ),
                    class: 'select2' %>
  </div>
  
  <div id="month-product-link-box" class="field beta four columns">
    <%= link_to_with_icon 'plus', 
                          'Add relation',
                          'javascript:;',
                          class: 'button add-month-product-link', 
                          data: { month_id: @month.id }  %>
  </div>
  <div class="clear"></div>
<% else %>
  <h4>No products available for relation</h4>
<% end %>
