<div class="coming_soon_wrapper">
  <div class="coming_soon size_cover" style="background-image: url(<%= asset_url 'vigneti.jpg' %>)">
    <h1 class="title_white">PODERI BRICCHI</h1>
    <div class="upper">coming<br />
      soon
    </div>
  </div>
</div>