<div class="coming_soon_wrapper">
  <div class="coming_soon " style="background-image: url(<%= asset_url 'fotograppe.jpg' %>); background-color: #fff">
    <h1 class="title_red">GRAPPE VERMOUTH</h1>
    <div class="upper">coming<br />
      soon
    </div>
  </div>
</div>