@-webkit-keyframes menu {
  0% {
    width: 0;
  }

  100% {
    width: 100%;
  }
}

@keyframes menu {
  0% {
    width: 0;
  }

  100% {
    width: 100%;
  }
}

@-webkit-keyframes exclamation {
  from,
  to {
    -webkit-transform: translate3d(0, -50%, 0);
  }

  10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translate3d(-6px, -50%, 0);
  }

  20%, 40%, 60%, 80% {
    -webkit-transform: translate3d(6px, -50%, 0);
  }
}

@keyframes exclamation {
  from,
  to {
    transform: translate3d(0, -50%, 0);
  }

  10%, 30%, 50%, 70%, 90% {
    transform: translate3d(-6px, -50%, 0);
  }

  20%, 40%, 60%, 80% {
    transform: translate3d(6px, -50%, 0);
  }
}


@-webkit-keyframes flip {
  0% {
    -webkit-transform: perspective(200px) rotate3d(0, 1, 0, 180deg);
    transform: perspective(200px) rotate3d(0, 1, 0, 180deg);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }

  60% {
    -webkit-transform: perspective(200px);
    transform: perspective(200px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  80% {
    -webkit-transform: perspective(200px) scale3d(.95, .95, .95);
    transform: perspective(200px) scale3d(.95, .95, .95);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  100% {
    -webkit-transform: perspective(200px) rotate3d(0, 1, 0, 360deg);
    transform: perspective(200px) rotate3d(0, 1, 0, 360deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
}

@keyframes flip {
  0% {
    -webkit-transform: perspective(200px) rotate3d(0, 1, 0, 180deg);
    transform: perspective(200px) rotate3d(0, 1, 0, 180deg);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }

  60% {
    -webkit-transform: perspective(200px);
    transform: perspective(200px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  80% {
    -webkit-transform: perspective(200px) scale3d(.95, .95, .95);
    transform: perspective(200px) scale3d(.95, .95, .95);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  100% {
    -webkit-transform: perspective(200px) rotate3d(0, 1, 0, 360deg);
    transform: perspective(200px) rotate3d(0, 1, 0, 360deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
}

@-webkit-keyframes flip_revers {
  0% {
    -webkit-transform: perspective(200px) rotate3d(0, 1, 0, 90deg);
    transform: perspective(200px) rotate3d(0, 1, 0, 90deg);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }

  60% {
    -webkit-transform: perspective(200px);
    transform: perspective(200px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  80% {
    -webkit-transform: perspective(200px) scale3d(.95, .95, .95);
    transform: perspective(200px) scale3d(.95, .95, .95);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  100% {
    -webkit-transform: perspective(200px) rotate3d(0, 1, 0, 360deg);
    transform: perspective(200px) rotate3d(0, 1, 0, 360deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
}

@keyframes flip_revers {
  0% {
    -webkit-transform: perspective(200px) rotate3d(0, 1, 0, 90deg);
    transform: perspective(200px) rotate3d(0, 1, 0, 90deg);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }

  60% {
    -webkit-transform: perspective(200px);
    transform: perspective(200px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  80% {
    -webkit-transform: perspective(200px) scale3d(.95, .95, .95);
    transform: perspective(200px) scale3d(.95, .95, .95);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  100% {
    -webkit-transform: perspective(200px) rotate3d(0, 1, 0, 360deg);
    transform: perspective(200px) rotate3d(0, 1, 0, 360deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
}

@keyframes loader {
  0% {
    opacity: 0;
  }

  80% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes sonarEffect {

  0% {
    opacity: .3;
  }

  40% {
    opacity: .5;
    box-shadow: 0 0 0 2px $white-1, 0 0 10px 10px $vinous, 0 0 0 10px $white-5;
  }

  100% {
    box-shadow: 0 0 0 2px $white-1, 0 0 10px 10px $vinous, 0 0 0 10px $white-5;
    transform: scale(1.5);
    opacity: 0;
  }
}

@keyframes buttonAddCard {

  0% {
    transition: all .2s ease-in-out;
  }

  60% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes moveArrow {

  0% {
    background-position: 0 0;
  }

  49% {
    background-position: 0 20px;
    opacity: 1;
  }

  50% {
    background-position: 0 20px;
    opacity: 0;
  }

  51% {
    background-position: 0 -20px;
    opacity: 0;
  }

  52% {
    background-position: 0 -20px;
    opacity: 1;
  }

  100% {
    background-position: 0 0;
  }
}
