@font-face {
  font-family: 'museo_sans_cyrl100';
  src: font-url('museosanscyrl.eot');
  src: font-url('museosanscyrl.eot?#iefix') format('embedded-opentype'),
       font-url('museosanscyrl.woff') format('woff'),
       font-url('museosanscyrl.ttf') format('truetype'),
       font-url('museosanscyrl.svg#museo_sans_cyrl100') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'museo_sans_cyrl300';
  src: font-url('museosanscyrl_300.eot');
  src: font-url('museosanscyrl_300.eot?#iefix') format('embedded-opentype'),
       font-url('museosanscyrl_300.woff') format('woff'),
       font-url('museosanscyrl_300.ttf') format('truetype'),
       font-url('museosanscyrl_300.svg#museo_sans_cyrl300') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'museo_sans_cyrl500';
  src: font-url('museosanscyrl_500.eot');
  src: font-url('museosanscyrl_500.eot?#iefix') format('embedded-opentype'),
       font-url('museosanscyrl_500.woff') format('woff'),
       font-url('museosanscyrl_500.ttf') format('truetype'),
       font-url('museosanscyrl_500.svg#museo_sans_cyrl500') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'museo_sans_cyrl700';
  src: font-url('museosanscyrl_700.eot');
  src: font-url('museosanscyrl_700.eot?#iefix') format('embedded-opentype'),
       font-url('museosanscyrl_700.woff') format('woff'),
       font-url('museosanscyrl_700.ttf') format('truetype'),
       font-url('museosanscyrl_700.svg#museo_sans_cyrl700') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'librebaskerville-regular';
  src: font-url('librebaskerville-regular.eot');
  src: font-url('librebaskerville-regular.eot?#iefix') format('embedded-opentype'),
       font-url('librebaskerville-regular.woff') format('woff'),
       font-url('librebaskerville-regular.ttf') format('truetype'),
       font-url('librebaskerville-regular.svg#librebaskerville-regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'fontello';
  src: font-url('icons/fontello.eot?67102213');
  src: font-url('icons/fontello.eot?67102213#iefix') format('embedded-opentype'),
       font-url('icons/fontello.woff2?67102213') format('woff2'),
       font-url('icons/fontello.woff?67102213') format('woff'),
       font-url('icons/fontello.ttf?67102213') format('truetype'),
       font-url('icons/fontello.svg?67102213#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
