$black: #000;
$marsh: #444443;
$marsh_active: #2f2f2f;
$white: #fff;
$white-1: rgba(0, 0, 0, .1);
$white-2: rgba(0, 0, 0, .2);
$white-4: rgba(0, 0, 0, .4);
$white-5: rgba(0, 0, 0, .5);
$white-8: rgba(0, 0, 0, .8);
$black-2: rgba(0, 0, 0, .2);
$black-3: rgba(0, 0, 0, .3);
$black-6: rgba(0, 0, 0, .6);
$black-8: rgba(0, 0, 0, .8);
$start-gradient-grey: #e0e1dc;
$stop-gradient-grey: #f0f1ec;
$ultra-light-grey: #f4f4f4;
$more-light-grey: #e6e6e6;
$light-grey: #cacaca;
$grey: #aaa;
$dark-grey: #515151;
$grey-999: #999;
$grey-63: #636363;
$grey-44: #444;
$grey_eee: #eee;
$grey_ddd: #ddd;
$red: #ec1c24;
$red-02: rgba(236, 28, 36, .2);
$dark-red: #c2151c;
$light-red: #f6363d;
$red-text: #ca131a;
$technical-data-bg: #090203;
$spinner-grey: #dad5c9;
$dark-black: #24121e;
$color-header-menu: #6a6a6a;
$light-yellow: #fef8e8;
$vinous: #5c1618;
$vinous-8: rgba(120, 14, 14, .8);
$orange: #f1570b;
$red-pink: #ec1d25;
$yellow: #ffa913;
$green: #0a8919;
$calculator-red-bg: rgba(95, 45, 45, .7);
$calculator-handle-red-bg: #3d2c2c;
$handle-red-wine: #8b0f0f;
$handle-white-wine: #d5c477;
$handle-rose-wine: #fd6b6b;
